/* Import da fonte Poppins */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/* Variáveis CSS */
:root {
     --bg-color: #f0f3ef;
     --main-text-color: #59A5D8;
     --secondary-text-color: #535252;


  }
  
    /* Estilos */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg-color);
}

html{
    scroll-behavior: smooth;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-bottom: 7rem;
}


a {
    margin-left: 1rem;
    text-decoration: none;
    
}
.header-links-container a:hover{
    color: var(--main-text-color);
    font-size: 1.1rem;
    transition: 0.5s;
    cursor: pointer;
}

.introduction{
    display: flex;
    
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.title-name{
    color: var(--main-text-color);
}
.introduction h3{
    text-align: center;
    color: var(--secondary-text-color);

}
.introduction button{
    background-color: var(--main-text-color);
    color: var(--bg-color);
    border: none;
    padding: 0.5rem;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    

}
.introduction button:hover{
    background-color: var(--bg-color);
    color: var(--main-text-color);
    border: 1px solid var(--main-text-color);
    transition: 1s;
    transform: scale(1.1);
   

}

.btn-container{
    display: flex;
    justify-items: center;
    align-items: center;
    margin-top: 2rem;
    gap: 1rem;
}
.skills-title{
    text-align: center;
    margin-top: 4rem;
    
   
}

.btn-my-github a{

 margin-left: -2px;
}


.container-posts{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    gap: 5px;
}

.div-post{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 5px;
  
}

.projects{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    gap: 5px;
}

.projects-title{
    text-align: center;
    margin-top: 4rem;
    
}

.projects{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    gap: 2.5rem;
}

.div-project{
    padding: 1rem;
    width: 15rem;
    height: 19rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;


}
.div-project p{
    margin-top: 2rem;
    font-size: 12px;
    color: var(--secondary-text-color);
}

.tecnologias-usadas{
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 1rem;
}

#lastitem{
  
    margin-top: -6px;
    margin-bottom: 9px;
}

.svg-container{
     display: flex;
     align-items: center;
     justify-content: center;
     margin-right: 5px;

}

img:hover{
    transform: scale(1.15);
    transition: 0.5s;
    color: #59A5D8;
}

.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 4rem;
    
    padding: 1rem;
    margin-bottom: 4rem;

}

.contact h1{
    margin-bottom: 3rem;
}

.btn-sendme{
    background-color: var(--bg-color);
    color: var(--secondary-text-color);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--main-text-color)

}
.btn-sendme a{
    margin-left:-2px;
}
.btn-sendme:hover{
    background-color: var(--main-text-color);
    color: var(--bg-color);
    border: 1px solid var(--main-text-color);
    transform: scale(1.1);
    transition: 0.4s;
}
.aboutme{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 4rem;
    
    padding: 1rem;
    margin-bottom: 4rem;
    width: 45rem;
    margin: 0 auto;
}

.aboutme p{
    color: var(--secondary-text-color);
    text-align: center;
}

/* Hamburguer Menu - site responsivo */
.hamburger-menu{
    display: none;
}

#menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    left: 0 !important;
  }
  .menu__btn {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }


@media screen and (max-width: 640px){
  .hamburger-menu{
      display: block;
  }

  .header-icon-container{
      display: none;
  }
  .header-links-container{
      display: none;
  }
  .container-posts{
      display: flex;
      flex-direction: column;
  }
  .projects{
      display: flex;
      flex-direction: column;
  }
  .aboutme{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 350px;

  }

}